@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&family=Open+Sans:ital@0;1&family=Oswald:wght@400;700&family=Poppins:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", Arial, sans-serif;
}

.button {
    display: inline-block;
    padding: 20px 30px;
    background-color: #fff;
    color: #000;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 0px 0px 2px #bbb; 
}

.button:hover {
    opacity: 0.8;
}

.button span {
    margin-left: 12px;
}

header {
    display: flex;
    justify-content: space-between;
    color: #111111;
    padding-block: 30px;
    padding-inline: 100px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

header .logo {
    font-size: 25px;
    font-weight: 700;
}

header .menu {
    display: flex;
    width: 30px;
    height: 30px;
    flex-direction: column;
    justify-content: space-between;
}

header .menu-line {
    height: 3px;
    background-color: #111111;
    border-radius: 3px;
}

.container {
    display: flex;
    height: 100vh;
}

.container .leftside, 
.container .rightside {
    padding-inline: 100px;
}

.container .leftside {
    flex: 1;
    background-color:#f0f0f0;
    display: flex;
    align-items: center;
    
}

.leftside .subheading {
    font-weight: bold;
    text-transform: uppercase;
    color: #3b576d;
    font-size: 17px;
}

.leftside h1 {
    font-size: 85px;
    line-height: 1.1;
    margin-top: 8px;
    margin-bottom: 25px;
    color:#222;

}

.button.dark {
    background-color: #3b576d;
    color: #fff;
    font-size: 12px;
}

.button.light {
    font-weight: bold;
}

.container .rightside {
    flex: 1;
    background-color: #3b576d;
    /*background-color: #797c7e;*/
    background-image: url(../images/man.png);
    background-size: cover;
    background-position: center top;
}

footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding-block: 40px;
    padding-inline: 100px;
    color: rgba(0, 0, 0, 0.52);
    font-size: 14px;
}

footer a {
    text-decoration: none;
    color: #3b576d;
}



/*-------------------- CSS Responsivity ------------------*/


@media (max-width: 1024px) {
    header,  
    .container .leftside,
    .container .rightside,
    footer {
        padding-inline: 60px;
    }

    header .menu {
        height: 30px;
    }

    .button {
        padding: 15px 20px;
    }
}


@media (max-width: 920px) {
    header {
        position: initial;
        background-color:#222;
        color: #fff;
        padding-block: 20px;
    }

    header,  
    .container .leftside,
    .container .rightside,
    footer {
        padding-inline: 20px;
    }

    header .menu-line {
        background-color: #fff;
    }

    .button {
        display: block;
        width: calc(100vw - 40px);
    }

    .container {
        flex-direction: column;
        height:  calc(100vh - 86px);
    }

    .container .leftside {
        flex: none;
        padding-block: 20px;
        justify-content: center;
    }

    .container .leftside-info {
        display: flex;
        flex-direction: column;
        width: calc(100vw - 40px);
        align-items: center;
    }

    .leftside .subheading {
        font-size: 13px;
    }

    .leftside h1 {
        font-size: 30px;
    }

    footer {
        background-color:#f0f0f0;
        padding-block: 20px;
        text-align: center;
    }
}


@media (max-width: 475px) {
    header .logo {
        font-size: 22px;
        font-weight: 700;
    }

    header .menu {
        width: 20px;
        height: 20px;
        margin-top: 8px;
    }

    .container {
        flex-direction: column;
        height:  calc(100vh - 76px);
    }
}


@media (max-width: 325px) {
    .leftside .subheading {
        font-size: 12px;
    }

    .leftside h1 {
        font-size: 28px;
    }
}
